html {
    font-family: sans-serif;
    background: #eee;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    background: white;
}
/* Estilização do cabeçalho do site */
#header-master {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    height: 90px;
    background-color: #2A6496;
}

#logo {
    text-decoration: none;
}

#logo h1{
    color: white;
    font-size: 35px;
}

#login-area form{
    display: flex;
    align-items: center;
}

#login-area span, #login-area li a{
    padding: 10px 5px 10px 10px;
}

#login-area a:hover {
    background-color: #a3b6a2;
    color: white;
    border-radius: 10px;
}

.login-inputs {
    padding: 8px;
}

#login-area ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

#login-area a, #login-area li {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

#login-area li {
    margin-left: 8px;
}

/* ----------------------------------------------- */

/* Título e menus do usuário */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: serif;
    color: #2A6496;
    margin: 1rem 0;
    padding-left: 8px;
}

.options-user a{
    text-decoration: none;
    padding: 8px;
    color: #2A6496;
}

.options-user a:hover{
    padding: 8px;
    background-color: #2A6496;
    color: white;
    border-radius: 10px;
}
/* ----------------------------------------------- */

/* Subitens das páginas, quando tiver */

.subitens-title{
    display: inline-block; /* Faz com que o h1 tenha largura apenas do conteúdo */
    margin: 0px;
    margin-bottom: 10px;
    padding: 4px;
    color: white;
    background-color: #2A6496;
    border-radius: 5px;
}

.subitens {
    display: flex;
}

.subitens a{
    text-decoration: none;
    padding: 8px;
    color: #2A6496;
}

.subitens a:hover{
    background-color: #2A6496;
    color: white;
    border-radius: 10px;
}
/* ----------------------------------------------- */

/* Menus de busca e botões em geral */

.filter-form {
    width: 650px;
    display: flex;
    justify-content: space-between;
    color: #2A6496;
}

.add-form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.filter {
    flex: 1;
    display: flex;
    align-items: center;
}

.filter label {
    margin-right: 10px;
}

.filter-form label, .add-form label {
    padding-right: 10px;

}


.typed_input {
    padding: 5px;
    border-radius: 10px;
}

.drop-down {
    padding: 5px;
    border-radius: 10px;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.button {
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    background-color: #2A6496;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-form button {

}

.button:hover {
    font-size: 18px;
}
/* ----------------------------------------------- */

/* Tabelas */
.tables {
    width: 100%; /* Faz a tabela ocupar toda a largura disponível */
    border-collapse: collapse; /* Remove a separação entre as células */
    border-radius: 5px;
    color: #2A6496;
}

.tables th {
    text-align: center; /* Centraliza o texto do cabeçalho */
    padding: 10px; /* Adiciona espaçamento interno aos cabeçalhos */
    background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
}

.tables td {
    text-align: center; /* Centraliza o texto das células */
    padding: 8px; /* Adiciona espaçamento interno às células */
    border-bottom: 1px solid #ddd; /* Adiciona uma linha inferior para separar as células */
}

.tables tr:hover {
    background-color: #e5e5e5; /* Cor de fundo quando o mouse passar por cima */
}
/* ----------------------------------------------- */