{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}JP Ferramentas{% endblock %}</h1>
{% if g.user %}
{% if g.user['level'] == 'normal' %}
<a class="action" href="{{ url_for('lending_system.tools') }}">Ferramentas</a>
<a class="action" href="{{ url_for('lending_system.tools') }}">Empréstimos</a>
{% else %}
<a class="action" href="{{ url_for('lending_system.index') }}">Dashboard</a>
{% endif %}
<a class="action" href="{{ url_for('lending_system.index') }}">Minha conta</a>
{% endif %}
{% endblock %}

{% block content %}
{% block submenus %}{% endblock %}

{% block search_tools %}{% endblock %}
{% block tools %}{% endblock %}

{% block add_tool %}{% endblock %}

{% block edit_tool %}{% endblock %}

{% block to_loan %}{% endblock %}

{% block my_account %}{% endblock %}
{% endblock %}