{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Controle de Ferramentas{% endblock %}</h1>
<div class="options-user">
    {% if g.user['level'] == 'normal' %}
    <a class="action" href="{{ url_for('lending_system.tools') }}">Ferramentas</a>
    <a class="action" href="{{ url_for('lending_system.loans') }}">Empréstimos</a>
    {% else %}
    <a class="action" href="{{ url_for('admin.dashboard') }}">Dashboard</a>
    {% endif %}
    <a class="action" href="{{ url_for('lending_system.my_account') }}">Minha conta</a>
</div>
{% endblock %}

{% block content %}
{% block submenus %}{% endblock %}

{% block search_tools %}{% endblock %}
{% block tools %}{% endblock %}

{% block add_tool %}{% endblock %}
{% block edit_tool %}{% endblock %}
{% block to_loan %}{% endblock %}

{% block search_loans %}{% endblock %}
{% block loans %}{% endblock %}

{% block edit_loan %}{% endblock %}

{% block my_account %}{% endblock %}
{% endblock %}