{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Controle de Ferramentas{% endblock %}</h1>
<div class="options-user">

    <a class="action" href="{{ url_for('admin.usuarios') }}">Usuários</a>
    <a class="action" href="{{ url_for('admin.location') }}">Localização</a>
    <a class="action" href="{{ url_for('admin.logs') }}">Logs</a>
</div>
{% endblock %}

{% block content %}
{% block submenus %}{% endblock %}

{% block add_user %}{% endblock %}
{% block search_user %}{% endblock %}
{% block users %}{% endblock %}

{% block add_location %}{% endblock %}
{% block edit_location %}{% endblock %}
{% block locations %}{% endblock %}

{% block search_logs %}{% endblock %}
{% block logs %}{% endblock %}

{% endblock %}