{% extends 'admin/location.html' %}

{% block search_locations %}
<h3 class="subitens-title">Pesquisar Armários / Locais</h3>

<form class="filter-form" method="post">
    <div class="container_form">
        <article class="filter">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" class="typed_input">
        </article>
    </div>

    <button type="submit" class="button">Pesquisar</button>
</form>
{% endblock %}

{% block locations %}
{% if locations %}
<table class="tables">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Editar</th>
    </tr>
    </thead>
    <tbody>
    {% for location in locations %}
    <tr>
        <td>{{ location['id'] }}</td>
        <td>{{ location['name'] }}</td>
        <td>
            <a href="{{url_for('admin.edit_location', id=location['id'])}}">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
        </td>
    </tr>

    {% endfor %}

    </tbody>
</table>
{% endif %}
{% endblock %}