{% extends 'lending_system/index.html' %}

{% block submenus %}
<div class="subitens">
    <a class="action" href="{{ url_for('lending_system.search_tools') }}">Estoque</a>
    <a class="action" href="{{ url_for('lending_system.add_tool') }}">Adicionar</a>
</div>
<hr>
{% endblock %}

{% block add_tool %}
<h3 class="subitens-title">Adicionar Ferramenta</h3>

<form class="add-form" method="post">
    <div class="container_form">
        <article class="filter">
            <label for="location_id">Localização</label>
            <select name="location_id" id="location_id" class="drop-down">
                {% for location in locations %}
                <option value={{location['id']}}>{{location['name']}}</option>
                {% endfor %}
            </select>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="description">Descrição do item</label>
            <input type="text" id="description" name="description" class="typed_input" required>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="code">Código</label>
            <input type="text" id="code" name="code" class="typed_input" required>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="obs">Observação</label>
            <input type="text" id="obs" name="obs" class="typed_input" required>
        </article>
    </div>

    <button type="submit" class="button">Adicionar</button>
</form>
{% endblock %}