{% extends 'lending_system/index.html' %}

{% block submenus %}
<div class="subitens">
    <a class="action" href="{{ url_for('lending_system.search_tools') }}">Estoque</a>
    <a class="action" href="{{ url_for('lending_system.add_tool') }}">Adicionar</a>
</div>
<hr>
{% endblock %}

{% block edit_tool %}
<h3 class="subitens-title">Editar Ferramenta</h3>

<form class="add-form" method="post">
    <div class="container_form">
        <article class="filter">
            <label for="location_id">Localização</label>
            <select name="location_id" id="location_id" class="drop-down">
                {% for location in locations %}
                {% if location['name'] == tool['location'] %}
                <option value={{location['id']}} selected>{{location['name']}}</option>
                {% else %}
                <option value={{location['id']}}>{{location['name']}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="description">Descrição do item</label>
            <input type="text" id="description" name="description" class="typed_input" value="{{tool['description']}}" required>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="code">Código</label>
            <input type="text" id="code" name="code" class="typed_input" value="{{tool['code']}}" required>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="obs">Observação</label>
            <input type="text" id="obs" name="obs" class="typed_input" value="{{tool['obs']}}">
        </article>
    </div>

    <button type="submit" class="button">Salvar</button>
</form>
{% endblock %}
