{% extends 'lending_system/index.html' %}

{% block submenus %}
<div class="subitens">
    <a class="action" href="{{ url_for('lending_system.search_tools') }}">Estoque</a>
    <a class="action" href="{{ url_for('lending_system.add_tool') }}">Adicionar</a>
</div>
<hr>
{% endblock %}

{% block search_tools %}
<h3 class="subitens-title">Pesquisar Ferramentas</h3>

<form class="filter-form" method="post">
    <div class="container_form">
        <article class="filter">
            <label for="description">Descrição</label>
            <input type="text" id="description" name="description" class="typed_input">
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="location_id">Localização</label>
            <select name="location_id" id="location_id" class="drop-down">
                <option value="todos" selected>Todos</option>
                {% for location in locations %}
                <option value={{location['id']}}>{{location['name']}}</option>
                {% endfor %}
            </select>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="available">Disponível</label>
            <select name="available" id="available" class="drop-down">
                <option value="1" selected>Sim</option>
                <option value="0">Não</option>
            </select>
        </article>
    </div>
    <button type="submit" class="button">Pesquisar</button>
</form>
{% endblock %}

{% block tools %}
{% if tools %}
<table class="tables">
    <thead>
    <tr>
        <th>Código</th>
        <th>Descrição da ferramenta</th>
        <th>Localização</th>
        <th>Disponível</th>
        <th>Emprestar</th>
        <th>Editar</th>
    </tr>
    </thead>
    <tbody>
    {% for tool in tools %}
    <tr>
        <td>{{ tool['code'] }}</td>
        <td>{{ tool['description'] }}</td>
        <td>{{ tool['location'] }}</td>
        {% if tool['available'] == 1 %}
        <td>Sim</td>
        <td>
            <a href="{{ url_for('lending_system.to_loan', id=tool['id']) }}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </td>
        {% else %}
        <td>Não</td>
        <td>--</td>
        {% endif %}
        <td>
            <a href="{{url_for('lending_system.edit_tool', id=tool['id'])}}">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endif %}
{% endblock %}