{% extends 'lending_system/index.html' %}

{% block submenus %}
    <div class="subitens">
        <a class="action" href="{{ url_for('lending_system.search_tools') }}">Estoque</a>
        <a class="action" href="{{ url_for('lending_system.add_tool') }}">Adicionar</a>
    </div>
<hr>
{% endblock %}

{% block to_loan %}
<h3 class="subitens-title">Realizar Empréstimo</h3>

<form class="add-form" method="post">
    <div class="container_form">
        <article class="filter">
            <label>{{tool['description']}} - Código: {{tool['code']}}</label>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="requester_name">Solicitante:</label>
            <input type="text" id="requester_name" name="requester_name" class="typed_input" required>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="requester_area">Área do Solicitante:</label>
            <input type="text" id="requester_area" name="requester_area" class="typed_input" required>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="obs">Observação: </label>
            <input type="text" id="obs" name="obs" class="typed_input">
        </article>
    </div>

    <button type="submit" class="button">Emprestar</button>
</form>

{% endblock %}