{% extends 'admin/users.html' %}

{% block add_user %}
<h3 class="subitens-title">Adicionar Usuário</h3>

<form class="add-form" method="post">
    <div class="container_form">
        <article class="filter">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" class="typed_input" required>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="typed_input" required>
        </article>
    </div>

    <div class="container_form">
        <article class="filter">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" class="typed_input" required>
        </article>
    </div>

    <button type="submit" class="button">Adicionar</button>
</form>
{% endblock %}